#viz {
  width: 90%;
  height: 700px;
  background-color: white;
  border: 1px solid lightgray;
  font: 12px arial;
  margin: auto;
  margin-bottom: 20px;
}

div.vis-tooltip {
  position: absolute !important;
}

.range-value {
  width: 70px;
  margin-top: 25px;
  justify-content: center;
  text-align: center;
}

.margin-right {
  margin-right: 5px;
}

.content {
  margin: 40px 50px;
}

.title {
  background-color: white;
  width: 400px;
  margin: auto;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#allParameters {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 10px 20px 30px 20px;
  margin-top: 20px;
}

#advanced {
  float: right;
  color: #3366BB;
}

#advanced:hover {
  color: #0B0080;
}

#separation {
  width: 90%;
}

.center {
  text-align: center;
}

.parameters {
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
  background-color: white;
  /*padding: 10px 20px;*/
  display: inline-flex;
  width: 100%;
  /*margin-top: 20px;*/
}

.search-parameters, .search-value, .max-results {
  margin: 5px 20px;
}

.search-value input, .search-parameters input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 2px 6px;
  margin-right: 20px;
}

.adv-parameters label {
  margin-right: 4px;
}

.adv-parameters input[type="text"] {
  width: 100px;
}

input[type="submit"]{
 cursor:pointer;
 color: white;
}
