<app-toolbar [section] = "section"></app-toolbar>

<div class="content">
  <a routerLink='mongodb'>
    <div class="container">
      <div class="header">
        <img
          width="120"
          alt="MongoDB Logo"
          src="../assets/images/mongodb.png"
          routerLink=""
        />
        <h3 id="mongodb-title">Search with MongoDB</h3>
      </div>
      <div id="mongodb-description" class="description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat tortor eget nisl lobortis, ut laoreet urna congue. Curabitur quis viverra leo. Donec dictum viverra nisi, at laoreet nisi fringilla a. Pellentesque mattis magna eu erat euismod iaculis. Sed semper mi ipsum, vitae egestas risus congue sit amet.
        </p>
        <p>
          Sed lacinia laoreet odio, sit amet ultrices eros commodo sit amet. Aliquam ut urna non nisi efficitur semper. Ut condimentum enim eget eleifend lobortis. Nunc consequat sodales turpis ac luctus. Cras a quam eu dui porta mollis. Fusce blandit lobortis erat. Aliquam pulvinar suscipit urna et convallis. Nulla facilisi. Etiam vestibulum gravida placerat. In dui erat, cursus eget nisi id, tempor convallis erat.
        </p>
      </div>
    </div>
  </a>

  <div id="separator"></div>

  <a href="file:///C:/Users/bapti/Desktop/NeovisNoSQL/test.html" target="_blank">
    <div class="container">
      <div class="header">
        <img
          width="150"
          alt="Neo4j Logo"
          src="../assets/images/neo4j.png"
          routerLink=""
        />
        <h3 id="neo4j-title">Graph with Neo4j</h3>
      </div>
      <div id="neo4j-description" class="description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat tortor eget nisl lobortis, ut laoreet urna congue. Curabitur quis viverra leo. Donec dictum viverra nisi, at laoreet nisi fringilla a. Pellentesque mattis magna eu erat euismod iaculis. Sed semper mi ipsum, vitae egestas risus congue sit amet.
        </p>
        <p>
          Sed lacinia laoreet odio, sit amet ultrices eros commodo sit amet. Aliquam ut urna non nisi efficitur semper. Ut condimentum enim eget eleifend lobortis. Nunc consequat sodales turpis ac luctus. Cras a quam eu dui porta mollis. Fusce blandit lobortis erat. Aliquam pulvinar suscipit urna et convallis. Nulla facilisi. Etiam vestibulum gravida placerat. In dui erat, cursus eget nisi id, tempor convallis erat.
        </p>
      </div>
    </div>
  </a>
</div>

<app-footer></app-footer>
